.button, body {
  font-family: Arial, Helvetica, sans-serif;
}

.footer_link, .credit-card_number, .donation__contant__name_bank, .help__title, .modal__span, .modal__text, .slider__card__text, h5, h4, h3, h2, h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(76, 76, 76);
}

h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 400;
  color: rgb(241, 205, 179);
  letter-spacing: 2px;
}

h2 {
  font-size: 44px;
  line-height: 57.2px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

h3 {
  font-size: 35px;
  line-height: 45.5px;
  font-weight: 400;
  letter-spacing: 2px;
}

h4 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

.button {
  display: inline-block;
  text-decoration: none;
  width: 207px;
  height: 52px;
  background-color: rgb(241, 205, 179);
  font-size: 17px;
  line-height: 22.1px;
  font-weight: 400;
  color: rgb(41, 41, 41);
  border-radius: 100px;
  padding: 15px, 45px, 15px, 45px;
  transition: all 0.3s ease;
}
.button_card {
  background-color: rgba(250, 250, 250, 0);
  border: solid 2px rgb(241, 205, 179);
  width: 187px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.button_big {
  padding: 15px, 45px, 15px, 45px;
  width: 261px;
  letter-spacing: 1px;
}
.button_start-screen {
  letter-spacing: 0.06em;
}
.button:hover {
  background-color: rgb(253, 220, 196);
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper-box_header {
  background: url("/mariasuz-JSFEPRESCHOOL2024Q2/shelter/src/img/noise_lines_transparent.png"), radial-gradient(110.67% 338.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

.header__wrapper {
  height: 908px;
}

.wrapper__about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 120px;
}

.pets__wrapper {
  background-color: rgb(246, 246, 246);
}

.help__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.donation__wrapper {
  padding-top: 80px;
  padding-bottom: 97px;
  background-color: rgb(246, 246, 246);
}

.footer__wrapper {
  padding-top: 40px;
}

.about {
  background-color: rgb(255, 255, 255);
}

.pets {
  background-color: rgb(246, 246, 246);
}

.help {
  background-color: rgb(255, 255, 255);
}

.donation {
  background-color: rgb(246, 246, 246);
}

.footer {
  background: url("/mariasuz-JSFEPRESCHOOL2024Q2/shelter/src/img/noise_lines_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.header {
  width: 100%;
  color: rgb(205, 205, 205);
}

.header__logo-navigation {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo_a {
  text-decoration: none;
}
.logo_a:hover {
  color: rgb(253, 220, 196);
}

.navigation {
  display: flex;
  gap: 36px;
  padding-top: 15px;
}

.logo__text {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 14.95px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
}

.navigation__link {
  list-style: none;
}

.navigation__link_a {
  color: rgb(205, 205, 205);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.1s linear;
  padding-bottom: 3px;
}
.navigation__link_a:hover {
  border-bottom: 3px solid rgb(241, 205, 179);
}

.activ-class-a {
  border-bottom: 3px solid rgb(241, 205, 179);
  bottom: 10px;
}

.start-screen {
  display: flex;
  padding-top: 90px;
  align-items: center;
  justify-content: space-between;
}

.start-screen__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -80px;
}

.start-screen__text {
  max-width: 460px;
}

.about__img {
  display: block;
}

.content {
  max-width: 430px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pets__content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  align-items: center;
  gap: 60px;
  position: relative;
}

.pets__h3 {
  text-align: center;
  letter-spacing: 2.1px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 53px;
}

.slider__container {
  display: flex;
  gap: 90px;
}

.slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 9px;
  background-color: rgb(250, 250, 250);
  max-width: 270px;
  max-height: 435px;
  transition: transform 0.2s;
  position: relative;
}
.slider__card:hover {
  transform: scale(1.2);
}

.button_arrow {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(241, 205, 179);
  border-radius: 100px;
  padding: 23px, 19px, 23px, 19px;
  width: 52px;
  height: 52px;
}
.button_arrow:hover {
  background-color: rgb(253, 220, 196);
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider__card__text {
  font-size: 20px;
  line-height: 22.72px;
  font-weight: 400;
  letter-spacing: 1px;
}

.pets__modal {
  display: none;
  position: fixed;
  background-color: rgba(41, 41, 41, 0.6);
  left: 50%;
  top: 50%;
}

.modal__window {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  max-height: 500px;
  background-color: rgb(255, 255, 255);
}

.modal__window__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__text {
  font-size: 15px;
  line-height: 16.5px;
  font-weight: 400;
  max-width: 350px;
}

.modal__window__img {
  width: 500px;
  height: 500px;
}

.modal__ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__li {
  color: rgb(241, 205, 179);
}

.modal__span {
  font-size: 15px;
  line-height: 16.5px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.modal__close-button {
  border: 2px solid rgb(241, 205, 179);
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.help__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px 120px;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
}

.help__list__box {
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.help__title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

.donation__container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.donation__contant {
  max-width: 380px;
  max-height: 282px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation__contant__name_bank {
  letter-spacing: 0.06em;
  font-size: 15px;
  line-height: 16.5px;
  font-weight: 400;
}

.donation__contant__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(178, 178, 178);
}

.credit-card__container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.credit-card {
  background-color: rgb(241, 205, 179);
  padding: 10px 15px 10px 15px;
  width: 320px;
  height: 43px;
  border-radius: 9px;
  display: flex;
  transition: all 0.3s ease;
}
.credit-card:hover {
  background-color: rgb(253, 220, 196);
  cursor: pointer;
}

.credit-card_number {
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: rgb(84, 84, 84);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer_link {
  text-decoration: none;
  color: rgb(241, 205, 179);
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.footer__contacts__container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 44px;
}

.footer__location__container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 35px;
}

.footer__contacts {
  display: flex;
  gap: 20px;
}

.footer__location {
  display: flex;
  gap: 20px;
}

.footer__contacts_h3 {
  color: rgb(255, 255, 255);
}

/*# sourceMappingURL=style.css.map */
