$text-dark: rgba(76, 76, 76, 1);
$text-light:rgba(205, 205, 205, 1);
$button-border: rgba(241, 205, 179, 1);
$text-grey: rgba(255, 255, 255, 1);



$content-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;