.about__img {
    display: block;
    @include tablet-mobile{
       max-width: 300px;
    }
    @include media-mobile{
        max-width: 260px;
     }
}

.content {
    max-width: 430px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include media-mobile {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.p__about{
    @extend %font-prim;
    @include font(15px, 24px);
    @include media-mobile{
        text-align: justify;
    }
}

.p__about_3px{
    @include media-mobile{
        margin-top: -3px;
    }
}

