.wrapper__header__friends{
    height: 120px;
}

.burger-line_friends{
    border: solid 1px rgba(0, 0, 0, 1);
}

.friends__contants{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    @include media-tablet{
        gap: 30px;
    }
    @include media-mobile{
        gap: 40px;
    }
}

.friends__contants__text{
    text-align: center;
}

.friends__cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
    justify-content: center;
    @include media-tablet{
        max-height: 1365px;
        overflow: hidden;
    }
}

.friends__contants__navigation{
    display: flex;
    gap: 20px;
    @include media-tablet{
        padding-top: 5px;
    }
    @include media-mobile{
        gap: 10px;
    }
    @include tablet-mobile{
        gap: 10px;
    }
}


.button-friends{
    display: inline-block;
    width: 52px;
    height: 52px;
    border: 2px solid $button-primary;
    @extend %font-second;
    @include font(20px, 23px);
    color:rgba(41, 41, 41, 1);
    letter-spacing: 0.06em;
    border-radius: 100px;
    transition: all 0.3s ease;
    text-align: center;
    background-color: rgba(205, 205, 205, 0);
    &_number{
        background-color: $button-primary;
    }
    &:hover {
        background-color: $button-hover;
        cursor: pointer;
    }
    &:disabled {
        pointer-events: none;
        border: 2px solid $text-light;
        color:$text-light;
    }
}

.footer__container_friends{
    @include media-mobile{
        margin-top: -5px;
    }
}

.footer__location__container_friends{
    gap: 42px;
}