.header {
    width: 100%;
    color: $text-light;
}

.header__logo-navigation {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    gap: 20px;
}

.logo__text{
    font-family: 'Arial', Helvetica, sans-serif;
    @include font(13px, 14.95px);
    color: $text-grey;
    letter-spacing: 1.5px;
}

.navigation__link{
    list-style: none;
}

// Вторая часть
.start-screen{
    display: flex;
    padding-top: 100px;
    align-items: center;
}

.start-screen__content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}



