.help__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
}

.help__list{
    display: flex;
    flex-wrap: wrap;
    gap: 56px 120px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    
}

.help__list__box{
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.help__title{
    @extend %font-second;
    @include font(20px, 23px);
}
