.pets__content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
    gap: 60px;
    position: relative;
    @include media-mobile{
        padding-top: 42px;
        padding-bottom: 42px;
        gap: 42px;
    }
}

.pets__h3 {
    text-align: center;
    letter-spacing: 2.1px;
    @include media-mobile{
        text-align: center;
        letter-spacing: 0.06em;
    }
}
.slider {
    display: flex;
    align-items: center;
    gap: 53px;
    overflow: hidden;
    width: 100%;
    @include pc-tablet {
        gap: 12px;
    }
    @include media-tablet{
        gap: 12px;
    }
    @include  tablet-mobile{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 80px;
    }
    @include media-mobile{
       flex-wrap: wrap;
       justify-content: center;
       gap: 20px 80px;
    }
}

.slider__line{
    max-width: 990px;
    overflow: hidden;
    max-height: 435px;
    @extend %transition;
    @include media-tablet{
        max-width: 580px;
    }
    @include media-mobile{
        max-width: 270px;
    }
}

.slider__container {
    display: flex;
    gap: 90px;
    //justify-content: space-around;
    //max-height: 435px;
    //flex-wrap: wrap;
    //box-sizing: border-box;
    position: relative;
    //top: -520px;
    //left: -70%;
    left: -1080px;
    transition: left 500ms linear;
    @extend %transition;

    @include media-tablet{
        gap: 40px;
    }
    @include pc-tablet {
        gap: 40px;
    }
    @include media-mobile{
        order: 1;
    }
    @include  tablet-mobile{
        order: 1;
    }
}

.slider__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 9px;
    background-color: $background-color-pets-card;
    width: 270px;
    height: 445px;
    transition: transform .2s;
    position: relative;
    order: 1;
    cursor: pointer;
    @extend %transition;
    &:hover {
        background-color: #fff;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        transform: scale(0.98);
        @extend %transition;
        & .button_card{
            background-color: $button-hover;
        }
        & .slider__card__text{
            font-weight: 700;
        }
    }
}


.button_arrow{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $button-primary;
    border-radius: 100px;
    padding: 23px, 19px, 23px, 19px;
    min-width: 52px;
    min-height: 52px;
    &:hover {
        background-color: $button-hover;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      @include tablet-mobile {
       
      }
}

.button_arrow_left{
    @include media-mobile {
        order: 2;
    }
    @include  tablet-mobile{
        order: 2;
    }
}

.button_arrow_right{
    @include media-mobile {
        order: 2;
    }
    @include  tablet-mobile{
        order: 2;
    }
}


.slider__card__text{
    @extend %font-second;
    @include font(20px, 22.72px);
    letter-spacing: 1px;
}

