.pets__content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
    gap: 60px;
    position: relative;
    @include media-mobile{
        padding-top: 42px;
        padding-bottom: 42px;
        gap: 42px;
    }
}

.pets__h3 {
    text-align: center;
    letter-spacing: 2.1px;
    @include media-mobile{
        text-align: center;
        letter-spacing: 0.06em;
    }
}
.slider {
    display: flex;
    align-items: center;
    gap: 53px;
    overflow: hidden;
    width: 100%;
    @include pc-tablet {
        gap: 12px;
    }
    @include media-tablet{
        gap: 12px;
    }
    @include  tablet-mobile{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 80px;
    }
    @include media-mobile{
       flex-wrap: wrap;
       justify-content: center;
       gap: 20px 80px;
    }
}

.slider__line{
    max-width: 990px;
    overflow: hidden;
    position: relative;
    @extend %transition;
}

.slider__container {
    display: flex;
    gap: 90px;
    justify-content: space-around;
    max-height: 435px;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    //top: -520px;
    // left: -990px;
    transition: top 500ms linear;
    @extend %transition;

    @include media-tablet{
        gap: 40px;
    }
    @include pc-tablet {
        gap: 40px;
    }
    @include media-mobile{
        order: 1;
    }
    @include  tablet-mobile{
        order: 1;
    }
}

.slider__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 9px;
    background-color: $background-color-pets-card;
    width: 270px;
    height: 445px;
    transition: transform .2s;
    position: relative;
    order: 1;
    cursor: pointer;
    @extend %transition;
    &:hover {
        background-color: #fff;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        transform: scale(0.98);
        @extend %transition;
        & .button_card{
            background-color: $button-hover;
        }
        & .slider__card__text{
            font-weight: 700;
        }
    }
}


.button_arrow{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $button-primary;
    border-radius: 100px;
    padding: 23px, 19px, 23px, 19px;
    min-width: 52px;
    min-height: 52px;
    &:hover {
        background-color: $button-hover;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      @include tablet-mobile {
       
      }
}

.button_arrow_left{
    @include media-mobile {
        order: 2;
    }
    @include  tablet-mobile{
        order: 2;
    }
}

.button_arrow_right{
    @include media-mobile {
        order: 2;
    }
    @include  tablet-mobile{
        order: 2;
    }
}


.slider__card__text{
    @extend %font-second;
    @include font(20px, 22.72px);
    letter-spacing: 1px;
}




//Модальное окно!

.pets__modal {
    display: none;
    position: fixed;
    background-color:rgba(41, 41, 41, 0.6);
    left:0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    overflow: auto;
    @extend %transition;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.modal__container{
    position: relative;
}

.modal__window {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    max-height: 500px;
    background-color: $background-color-pets-card;
    border-radius: 9px;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    @include pc-tablet{
        max-width: 630px;
        height: 350px;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    @include media-tablet {
        max-width: 630px;
        max-height: 350px;
    }
    @include navigationsize {
        align-items: center;
        justify-content: center;
        max-width: 240px;
        padding: 10px;
    }
}

.h4_modal{
    margin-top: -30px;
    @include pc-tablet{
        margin-top: -10px;
    }
    @include media-tablet {
        margin-top: -10px;
    }
}

.modal__window__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include pc-tablet{
        gap: 20px;
    }
    @include media-tablet {
        gap: 20px;
    }
}

.modal__text{
    @extend %font-second;
    @include font(15px, 16.5px);
    letter-spacing: 0.06em;
    @include pc-tablet{
        @include font(13px, 14.3px);
    }
    @include media-tablet {
        @include font(13px, 14.3px);
    }
    @include media-mobile {
        @include font(13px, 14.3px);
    }
    @include navigationsize {
        text-align: justify;
    }
}

.modal__window__img{
    width: 500px;
    height: 500px;
    @include pc-tablet{
        width: 350px;
        height: 350px;
    }
    @include media-tablet {
        width: 350px;
        height: 350px;
    }
    @include navigationsize {
        display: none;
    }
}

.modal__ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    @include navigationsize {
        gap: 0;
    }
}
.modal__li {
    color: $button-primary;
}


.modal__span {
    @extend %font-second;
    @include font(15px, 16.5px);
    color: rgba(0, 0, 0, 1);
}

//Модальный крестик

.modal__close-button{
    border: 2px solid $button-primary;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    position: absolute;
    top: -52px;
    right: -52px;
    background: transparent;
    &:hover {
        background-color: $button-hover;
    }
}

// .modal__close-button:before, .modal__close-button:after {
//     position: absolute;
//     left: 20px;
//     content: ' ';
//     height: 12px;
//     width: 12px;
//     background-color: #333;
//   } 

//   .modal__close-button:before {
//     transform: rotate(45deg);
//   }
//   .modal__close-button:after {
//     transform: rotate(-45deg);
//   }

// .modal__close-button_span{
//     border: solid 2px $burger-background;
//     width: 100%;
// }

.modal__close-button_span::after{
    display: inline-block;
    content: "\00d7";
    font-size: 32px;
    font-weight: lighter;
}

